
/*The below creates a grey grid so that we can see the divs - the outline property that puts an outline on all divs */
div {
	outline: 1px solid #CCCCCC;
}

/*This is the outermost div in our content markup */

#main-content {
	width: 960px;
	height: 600px;
	
}

.button-holder {
	width: 180px;
	float: left; 
}

.button {
	width: 60px;
	padding: 8px;
	margin: 4px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	float: left;
	text-align: center;
	
	/* above could also have been written like so
	border: 1px solid black;
	*/
}

.image-holder {
	width: 600px;
	height: 245px;
	float: left;
}
